:root {
	--silver: #bdc3c7;
}

.categories {
	list-style-type: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
}

.category-card {
	text-decoration: none;
	transition: background-color 0.2s;
}

.category-card:hover {
	background-color: var(--silver);
}

.category-card-title {
	color: rgb(33, 37, 41);
}
