extends ../layout

block content
	main(class='container')
		div(class='d-flex justify-content-between align-items-center')
			h1= title
			a(href='/categories/create' class='link-primary') Create new category
		ul(class='categories')
			each category in categories
				li
					a(class='card text-center category-card' href=category.url)
						div(class='card-body')
							h5(class='card-title category-card-title mb-0') #{category.name}
						